vendor
server/config.yaml
server/images
server/tem.txt
server/tem.file
# 可执行文件
server/server
server/webdav/
server/output/
server/server.zip
demo-server/demo-server
kkbt.md
server/gin.log
server/obcsapi-go
dir-ocr
http/kkbt.http
server/ob4.0.tar.gz
.gitignore