vendor
# npm
node_modules
.temp
.cache
dist
# server
server/config.yaml
server/images
server/tem.file
# 可执行文件
server/server
server/webdav/
server/website/
server/output/
server/server.zip
demo-server/demo-server
kkbt
server/gin.log
server/obcsapi-go
dir-ocr
http/kkbt.http
server/mykv.db
server/config.run.json
server/ob4.2.tar.gz
server/pktoken
server/server.exe
server/workwechat_access_token.txt
.xwin-cache
# 配置
config.yaml
config.run.json
/token

# 本地测试文件
mykv.db
mykv.db.lock
gin.log
tem.file

# Debug files
debug/
